@media screen and (max-width: 1490px) {
  .landing_features .landing_features_cloud {
    top: -100px;
  }
}
@media screen and (max-width: 991px) {
  .landing_promo .landing_promo_main {
    width: 100%;
  }
  .landing_textLogo {
    .textLogo_img {
      width: 100%;
    }
  }
  .landing_promo .landing_promo_main .landing_promo_list .landing_promo_list_item {
    .landing_textDark {
      text-shadow: 0px 0px 2px #912214;
    }
  }

  .landing_promo .landing_promo_main .landing_promo_socials .landing_promo_socialsItem {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing_features .landing_features_main {
    flex-wrap: wrap;
  }

  .landing_roadmap .landing_roadmap_main .landing_roadmap_tabContent {
    zoom: 0.7;
    bottom: 0;
  }
  .landing_tokenomics .landing_tokenomics_main {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .landing_tokenomics .landing_tokenomics_main .landing_tokenomics_bar {
    width: 500px;
  }
  .landing_tokenomics .landing_tokenomics_main .landing_tokenomics_legend {
    width: 100%;
  }
  .landing_tokenomics
    .landing_tokenomics_main
    .landing_tokenomics_legend
    .landing_tokenomics_legendItem {
    width: 33%;
  }
  .landing_tokenomics .landing_tokenomics_table {
    flex-wrap: wrap;
  }
  .landing_tokenomics .landing_tokenomics_table .landing_tokenomics_table_side {
    width: 49%;
  }
  .landing_promo .navbar .landing_contractAddr,
  .landing_promo .navbar .landing_btnLight {
    margin-left: 0px;
  }
  .landing_features .landing_features_cloud {
    top: -72px;
  }
  .landing_promo .landing_promo_back2,
  .landing_promo .landing_promo_front,
  .landing_promo .landing_promo_back1 {
    bottom: -146px;
  }
  #landing_rmWrapper6,
  #landing_rmWrapper5 {
    height: 800px !important;
  }
  #landing_rmWrapper4,
  #landing_rmWrapper1 {
    height: 1200px !important;
  }
  #landing_rmWrapper2 {
    height: 1550px !important;
  }
  .landing_roadmap {
    padding-top: 50px;
    overflow: hidden;
  }
  .landing_footer .landing_footer_sosials {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .landing_roadmap .landing_roadmap_main .landing_roadmap_tabContent {
    zoom: 0.5;
  }
  #landing_rmWrapper6,
  #landing_rmWrapper5 {
    height: 600px !important;
  }

  #landing_rmWrapper2 {
    height: 1100px !important;
  }

  .landing_team .landing_team_main {
    flex-wrap: wrap;
  }
  .landing_team .landing_team_main .landing_team_item {
    width: 33%;
  }
  .landing_footer .landing_footer_bottom {
    height: 176px;
  }
  .landing_tokenomics .landing_tokenomics_table .landing_tokenomics_table_side {
    width: 100%;
  }
  #landing_rmWrapper4,
  #landing_rmWrapper1 {
    height: 830px !important;
  }
}

@media screen and (max-width: 533px) {
  .landing_features .landing_features_cloud {
    top: -34px;
  }
  .landing_promo .landing_promo_main .landing_promo_nav {
    flex-wrap: wrap;
  }
  .landing_promo .landing_promo_main .landing_promo_nav .landing_btnDark1,
  .landing_promo .landing_promo_main .landing_promo_nav .landing_btnDark2 {
    width: 100%;
    margin-top: 10px;
  }
  .landing_promo .landing_promo_main .landing_promo_list {
    flex-direction: column;
  }
  .landing_promo_list_divider {
    display: none;
  }
  .landing_tokenomics
    .landing_tokenomics_main
    .landing_tokenomics_legend
    .landing_tokenomics_legendItem {
    width: 100%;
    margin-left: 50px;
  }
  .landing_footer_bannerImg {
    width: 100%;
  }
  .landing_tokenomics .landing_tokenomics_main .landing_tokenomics_bar {
    width: 300px;
    height: 300px;
    font-size: 40px;
  }
  .landing_promo .landing_promo_main .landing_promo_list .landing_promo_list_item {
    flex-direction: row;
    width: 100%;
  }
  .landing_promo .landing_promo_main .landing_promo_list .landing_promo_list_item .fistSm {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .landing_roadmap .landing_roadmap_main .landing_roadmap_tabContent {
    zoom: 0.4;
  }
  #landing_rmWrapper6,
  #landing_rmWrapper5 {
    height: 470px !important;
  }
  #landing_rmWrapper4,
  #landing_rmWrapper1 {
    height: 700px !important;
  }
  #landing_rmWrapper2 {
    height: 900px !important;
  }
}

@media screen and (max-width: 370px) {
  .landing_features .landing_features_main {
    justify-content: center;
  }
}
